@model iHelpU.MODEL.Models.Usuario

@{
    ViewData["Title"] = "Perfil do Usuário";
}

<h2>Editar Perfil</h2>

@if (Model != null)
{
    
    <form asp-action="Perfil" method="post">

        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Senha" />

        <div class="form-group">
            <label asp-for="PrimeiroNome">Nome</label>
            <input asp-for="PrimeiroNome" class="form-control" />
            <span asp-validation-for="PrimeiroNome" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="SegundoNome">Sobrenome</label>
            <input asp-for="SegundoNome" class="form-control" />
            <span asp-validation-for="SegundoNome" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Cpf">CPF</label>
            <input asp-for="Cpf" class="form-control" />
            <span asp-validation-for="Cpf" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Telefone">Telefone</label>
            <input asp-for="Telefone" class="form-control" />
            <span asp-validation-for="Telefone" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success">Salvar Alterações</button>
    </form>
}
